<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <div id="hey">
    <div class="ho"></div>
    <div class="lets go"></div>
  </div>
  <div class="ignore-me"></div>
  <div class="lets go"></div>
  <div class="ignore-me">
    <div class="ho lets go ignore-me">
      <div id="ignore-me-too"></div>
      <!--<div id="me-too" class="hey ho lets go"></div>-->
    </div>
  </div>
  <form>
    <label data-label="">
      <input type="text" data-hidden data-ignore/>
    </label>
    <label data-label="submit">
      <input type="submit" data-hidden data-hey-ho data-lets-go="!" data-ignore="ignore"/>
    </label>
    <!--<label data-label="commented">
      <input type="submit" data-hidden="hidden"/>
    </label>-->
  </form>
</body>
</html>